<h1 align="center">
    История ауди
</h1>
<div id="about">
    <p>
        Компания Audi является немецким производителем автомобилей,
        которые сочетают в себе изысканный дизайн и современные технологии.
        Её штаб-квартира расположена в городе Ингольдштадте. В 1909 году начинается
        история этого автомобильного гиганта, когда Август Хорьх организовал фирму
        по производству машин. В 1910 году был выпушен первый автомобиль компании
        Audi-A. В 1965 году концерн Volkswagen выкупил контрольный 
        пакет акций Audi. Одной из масштабных разработок специалистов 
        фирмы стал фирменный полный привод, которым в 1982 году оснастили
        Audi 80 quattro. 90-е года для компании были наполнены технологическими
        новинками. Для серийного автомобиля A8 сделали алюминиевый корпус, для 
        A6 создали вариатор с металлическим ремнем. На сегодняшний день компания
        Audi выпускает целую гамму автомобилей различных классов.)
    </p>
    <details>
        <summary>История моделей Audi: </summary>
        <ul>
            <li><span><h2>A1</h2> 1 поколение,  2011 - сегодня</span></li>
            <li><span><h2>A3</h2> 6 поколений,  1999 - сегодня</span></li>
            <li><span><h2>A4</h2> 7 поколений,  1996 - сегодня</span></li>
            <li><span><h2>A4 ALLROAD QUATTRO</h2> 1 поколение,  2016 - сегодня</span></li>
            <li><span><h2>A5</h2> 3 поколения,  2007 - сегодня</span></li>
            <li><span><h2>A6 ALLROAD QUATTRO</h2> 1 поколение,  2012 - сегодня</span></li>
            <li><span><h2>A7</h2> 2 поколения,  2010 - сегодня</span></li>
            <li><span><h2>A8</h2> 1 поколение,  2011 - сегодня</span></li>
        </ul>
    </details>
</div>

