<h1 align="center">
    
    <div ng-mouseover="toggleTooltip()" ng-mouseout="hideTooltip()" > А теперь немного о нас!!! </div>

</h1>
<div style="font-size:20px; color:black; " class="tooltipRight" ng-show="showtooltipRight"> <br> <br />Я расскажу тебе <br /> о животных.<br /> А так же помогу <br /> увидеть и оценить этих<br /> милых созданий.</div>
<div id="about" class="col-sm-12 col-md-12 col-lg-12 col-ex-12">
    <div class="textAbout col-sm-12 col-md-12 col-lg-7 col-ex-7">
    <p>
        Живо́тные (лат. Animalia) — традиционно (со времён Аристотеля) выделяемая категория организмов, 
        в настоящее время рассматривается в качестве биологического царства. Животные являются основным 
        объектом изучения зоологии.

        Животные относятся к эукариотам (в клетках имеются ядра). Классическими признаками животных считаются:
        гетеротрофность (питание готовыми органическими соединениями) и способность активно передвигаться. Впрочем,
        существует немало животных, ведущих неподвижный образ жизни, а гетеротрофность свойственна также грибам и некоторым
        растениям-паразитам.
    </p>
    </div>
    <div class="listAnimals col-sm-12 col-md-12 col-lg-5 col-ex5">
        <details>
            <summary>Обитатели леса, которых ты можешь встретить в нашей стране </summary>
            <ul>
                <li><span>Енот</span></li>
                <li><span>Зубр</span></li>
                <li><span>Олень</span></li>
                <li><span>Лось</span></li>
                <li><span>Заяц</span></li>
                <li><span>Лиса</span></li>
                <li><span>Косуля</span></li>
                <li><span>Рысь</span></li>
                <li><span>Волк</span></li>
                <li><span>И многие-многие другие</span></li>
            </ul>
        </details>
    </div>
</div>

