<h1 align="center">
    Галерея
</h1>
<div align="right">
   
    <label ng-repeat="extension in extensionsArray" >
        {{extension.name}}
        <input type="checkbox" ng-model="extension.isChecked" > 
    </label>
</div>
<div ng-repeat="image in imgArray | filter:filterByExtension" class="imageGalleryClass foc col-ex-12 col-lg-4 col-md-6 col-sm-12" border="0" tabindex="1" >
    <p>
        <img ng-src="{{image.src}}" ng-mouseover="toggleTooltip($index)" ng-mouseout="hideTooltip()" >
        </br>
        <div class="caption">
            <span class="title">{{image.name}}</span>
            <span class="info">{{image.description}}</span>
            <span class="info">Оценка: {{image.rate.value}}</span>
        </div>
	</p>
</div>