<!DOCTYPE>
<html ng-app="gallery">
<head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    
    <title>ForestAnimals</title>
    <link href="~/Style/style.css" rel="stylesheet" type="text/css"/>
    <link href="~/Style/bootstrap.min.angular.css" rel="stylesheet" type="text/css">

    <script src="~/Script/angular.min.js"></script>
    <script src="~/Script/angular-route.min.js"></script>
    <script src="~/Script/main.js"></script>
    
</head>

<body>
    <div class="container">
        <div id="header" class="col-sm-12 col-md-12 col-lg-12 col-ex-12">
            <a href="/Forest/gallery" >           
            <img src="img/header.png"></a>
        </div>
        <div class="menu col-ex-12 col-lg-12 col-md-12 col-sm-12">
            <h3>
                <a class="btn btn-success" href="/Forest/gallery" role="button">На главную</a>
                <a class="btn btn-primary" href="/Forest/addNewImage" role="button">Добавление картинок</a>
                <a class="btn btn-primary" href="/Forest/aboutUs" role="button">Информация о сайте</a>
            </h3>
        </div>
        <div ng-view id="content" class="col-sm-12 col-md-12 col-lg-12 col-ex-12">
            Loading..
        </div>
        <div id="footer" class="footer col-sm-12 col-md-12 col-lg-12 col-ex-12">
            <h2>
                Группа 444601:</br>
                Климович Александр<span class="KlimovichColor"> BLACKBLUE</span><br>
                Пока Виктор<span class="PokaColor"> GREEN</span><br>
                Швед Олег <span class="ShwedColor"> ORANGE</span>
            </h2>
        </div>
    </div>
</body>
</html>
