@charset "utf-8";

/*Animation span in Gallery*/
*,
::after,
::before {
    box-sizing: 100% border-box;
}

.imageGalleryClass {
    width: 100%;
    opacity: .99;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 blue;
    -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 blue;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 blue;
}

    .imageGalleryClass:before {
        content: '';
        background: -webkit-linear-gradient(top, transparent 0%, blue 100%);
        background: linear-gradient(to bottom, transparent 0%, blue 100%);
        width: 100%;
        height: 50%;
        opacity: 1;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;
        -webkit-transition-property: top, opacity;
        transition-property: top, opacity;
        -webkit-transition-duration: 1s;
        transition-duration: 0.3s;
    }

    .imageGalleryClass img {
        display: block;
        width: auto; 
        height: auto; 
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }

    .imageGalleryClass .caption {
        width: 100%;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        text-align: center;
    }

        .imageGalleryClass .caption span {
            display: block;
            opacity: 0;
            position: relative;
            top: 100px;
            -webkit-transition-property: top, opacity;
            transition-property: top, opacity;
            -webkit-transition-duration: 2s;
            transition-duration: 1s;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
        }

        .imageGalleryClass .caption .title {
            line-height: 1;
            font-weight: normal;
            font-size: 40px;
            color: orangered;
        }

        .imageGalleryClass .caption .info {
            line-height: 1.2;
            margin-bottom: 10px;
            font-size: 20px;
            color: white;
        }

    .imageGalleryClass:focus:before,
    .imageGalleryClass:focus span, .imageGalleryClass:hover:before,
    .imageGalleryClass:hover span {
        opacity: 1;
    }

    .imageGalleryClass:focus:before, .imageGalleryClass:hover:before {
        top: 50%;
    }

    .imageGalleryClass:focus span, .imageGalleryClass:hover span {
        top: 0;
    }

    .imageGalleryClass:focus .title, .imageGalleryClass:hover .title {
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    }

    .imageGalleryClass:focus .info, .imageGalleryClass:hover .info {
        -webkit-transition-delay: 0.25s;
        transition-delay: 0.25s;
    }

/* Block formating */

img {
    width: 100%;
}

div.menu {
    background: #92cde1;
    height: auto;
}

div.blockImg {
    background: #BC8F8F;
    border: 5px solid green;
    height: auto;
}

div.header {
    height: auto;
    width: 100%
}

div.gallery {
    background: #92cde1;
    height: auto;
}

    /*Size image header*/
#header img{
	height: auto;
	width: 100%;
}

select {
	margin-right: 30px;
}
/*Size Gallery*/
#content{
	width: auto;
}
/*Red border is JPG and JPEG in Gallery*/
.imageGalleryClass img[src$=".jpg"], .imageGalleryClass img[src$=".jpeg"] {
	border: 5px red solid;
}

#addNewImg{
	float: left;
    height: auto;
	width: auto;
	text-align: right;
	padding-left: 10px;
}

#preview{
	margin-left: 30px;
	float: left;
	width: auto;
	word-wrap: break-word;
}

    /*Preview image for AddNewImage*/
#preview img{
	margin: 2px;
	width: 300px;
	height: 200px;
	border: 7px solid darkblue;
}

#footer {
    padding: 5px;
    padding-left: 10px;
}

/*Color students for Footer*/
.ColorForKlimovich {
	background-color: darkblue;
}

.ColorForPoka {
	background-color: green;
}

.ColorForShwed {
	background-color: orange;
}

.imageGalleryClass {
	text-align: center;
}

    /*Size imge for gallery*/
.imageGalleryClass img{
	margin-top: 10px;
    width: 100%;
	height: auto;	
	border: 3px solid #00a8e1
}

/*Zoom image for gallery*/
.foc {
    width: 150px;
    cursor: pointer;
    display: inline;
}

    .foc:focus {
        width: 100%;
        z-index: 100;
    }